{% extends "::superadministrador.html.twig" %}
{% block titulo %}
    <h1>UsuarioCurso creation</h1>
{% endblock %}
{% block submenuizquierdo %}
{% endblock %}
{% block submenuderecho %}
{% endblock %}

{% block contenido -%}  

    {% if esMatriculado %}
        <div class="alert alert-warning alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <strong>Warning!</strong> El usuario se encuentra matriculado en otro curso.
        </div>

    {%else%}
        <p class="lead">{{estudiantenf.getNombres()}} {{estudiantenf.getApellidos()}}</p>
        {{ form(form) }}

    {%endif%}
    <ul class="record_actions">
        <li>
            <a href="javascript:window.history.back();">
                Back to the list
            </a>
        </li>
    </ul>
{% endblock %}
