{% extends "::comunidad.html.twig" %}
{% block titulo %}
    <h1>Registrarse</h1>
{% endblock %}
{% block submenuizquierdo %}
{% endblock %}
{% block submenuderecho %}
{% endblock %}

{% block contenido -%}

    <div style="max-width: 600px;" class="center-block">
        {{ form(form) }}
    </div>
{% endblock %}
