{% extends "::superadministrador.html.twig" %}
{% block titulo %}
    <h1>Nombrecurso edit</h1>
{% endblock %}
{% block submenuizquierdo %}
{% endblock %}
{% block submenuderecho %}
{% endblock %}

{% block contenido -%}   

    {{ form(edit_form) }}

    <ul class="record_actions">
        <li>
            <a href="{{ path('administrador_configuracion_nombrecurso') }}">
                Back to the list
            </a>
        </li>
        <li>{{ form(delete_form) }}</li>
    </ul>
{% endblock %}
